<div class="d-flex text-body-secondary pt-3" id="<%= dom_id order %>">
  <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
    <title><%= order.state.capitalize %></title>
    <rect width="100%" height="100%" fill="<%= state_color(order.state) %>"/>
  </svg>
  <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
    <div class="d-flex justify-content-between">
      <strong class="text-gray-dark"><%= order.client.name %></strong>
      <span class="address"><%= order.full_address %></span>
      <span class="total"><%= order.total %></span>
      <span class="note"><%= order.note %></span>
      <span class="date"><%= order.created_at.strftime("%d.%m.%Y") %></span>
      <%= link_to "Show this order", order_path(order) %>
    </div>
    <span class="d-block">@<%= order.client.nickname %></span>
  </div>
</div>
