<div id="<%= dom_id address %>">
  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= address.region %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Post code:</strong>
    <%= address.post_code %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= address.building %>
  </p>

  <p>
    <strong>flat:</strong>
    <%= address.flat %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= address.note %>
  </p>

</div>
